<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos Casa Zé Rissi </title>
    <link rel="stylesheet" href="style.css"> <!-- Link para o arquivo de estilos externo -->
</head>
<body>

    <div class="imagemPizza">           
        <img src="image/pizza.png" alt="Pizza" width="70" height="auto">
    </div>

    <div class="container">
        <div>
            <h1>Entregas</h1>
            <div class="pedido-info">
                <p><strong>Motoboy:</strong> <%= motoboy %></p>
            </div>
        </div>
    </div>

    <div class="container">
        <p><strong>Pedido:</strong> <%= pedido %></p>
    </div>

    <div class="footer">
        <p> Casa Zé Rissi </p>
    </div>
</body>
</html>
